%p#notice= notice
.row
  .col-md-8
    #map
  .col-md-4
    %button.add_region
      Add
    %button.stop
      Create
    %button.build_routes
      Build Routes
    =link_to 'Recalculate!', @job

\|
= link_to 'Back', jobs_path
= javascript_include_tag  "jobs", "data-turbolinks-track" => false
