-content_for :nav_menu do
  %ul.nav.navbar-nav
    %li.dropdown
      %a.dropdown-toggle{'data-toggle' => 'dropdown'}
        Regions
        %b.caret
      %ul.dropdown-menu
        %li
          %a.add_region
            Add new
        %li
          %a.stop
            Create
    %li.dropdown
      %a.dropdown-toggle{'data-toggle' => 'dropdown'}
        Routes
        %b.caret
      %ul.dropdown-menu
        %li
          %a.build_routes
            Build
    %li
      =link_to 'Recalculate!', @job
    %li
      =link_to 'All tasks', jobs_path


%p#notice= notice
.row
  .col-md-12
    #map

= javascript_include_tag  "jobs", "data-turbolinks-track" => false
